engine-strict=true
auto-install-peers=true
prefer-workspace-packages=true
save-exact=true
shamefully-hoist=true
resolution-mode=highest
strict-peer-dependencies=false

# Make pnpm reproducible and cacheable
shared-workspace-lockfile=true
dedupe-peer-dependents=true
hoist-pattern=*
